:root {
  --arimo: "Arimo", sans-serif;
  --lato: "Lato", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --clr-heading: #111135;
  --clr-def: #ff508e;
  --clr-white: #ffffff;
  --clr-bg: #f3f3f3;
  --clr-black: #000;
  --clr-body: #565656;
  --clr-form: #fafafa;
  --clr-ftr: #e8e8e8;
  --clr-ftr1: #d5d5d5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol {
  margin: 0;
  padding: 0;
}
a,
a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
/* Preloader Section Starts */
#preloader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Preloader Section Ends */
/* Header Section Starts */
#header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
#header.stickyNav {
  background-color: var(--clr-white);
}
.navbar-brand .logo-display {
  display: block;
}
.stickyNav .navbar-brand .logo-display {
  display: none;
}
.navbar-brand .logo-scrolled {
  display: none;
}
.stickyNav .navbar-brand .logo-scrolled {
  display: block;
}
#header.stickyNav a {
  color: var(--clr-black);
}
.stickyNav {
  animation: stickyMenu 0.1s;
}
@keyframes stickyMenu {
  from {
    top: -40px;
  }
  to {
    top: 0;
  }
}
#main-menu ul li a {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 90px;
  color: var(--clr-white);
  text-transform: uppercase;
  padding: 0;
  margin-right: 48px;
}
#main-menu ul li:hover a {
  color: var(--clr-def);
}
#main-menu ul li .active {
  color: var(--clr-def);
}
/* Header Section Ends */
/* Banner Section Starts */
#banner {
  background-image: url(../img/slider01.jpg);
  background-position: center;
  background-size: cover;
  height: 797px;
  position: relative;
  top: 0;
  z-index: 1;
}
#banner::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--clr-black);
  opacity: 0.6;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#banner h5 {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  color: var(--clr-white);
  text-transform: uppercase;
  padding-bottom: 60px;
}
#banner h1 {
  font-family: var(--montserrat);
  font-weight: 600;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: -0.4px;
  color: var(--clr-white);
  padding-bottom: 53px;
}
#banner small {
  font-family: var(--montserrat);
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.4px;
  color: var(--clr-def);
}
#banner p {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: var(--clr-white);
  padding-bottom: 58px;
}
#banner a {
  display: inline-block;
  font-family: var(--montserrat);
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: var(--clr-white);
  text-transform: uppercase;
  padding: 20px 28px;
  border: 1px solid var(--clr-white);
  border-radius: 48px;
  transition: all 0.5s ease-in-out;
}
#banner a:hover {
  background-color: var(--clr-def);
  border-color: var(--clr-def);
}
/* Banner Section Ends */
/* About Section starts */
#about {
  padding: 120px 0;
}
.about-img img {
  display: block;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--clr-white);
  box-shadow: 0px 3px 60px 0px var(--clr-bg);
}
.about-content h4 {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  word-spacing: 1px;
  color: var(--clr-heading);
  position: relative;
  text-transform: uppercase;
  margin: 30px 0;
}
.about-content h4::after {
  content: "";
  position: absolute;
  width: 95px;
  height: 4px;
  background-color: var(--clr-bg);
  bottom: 0;
  left: 0;
  margin-bottom: -3px;
}
.about-content h2 {
  font-family: var(--montserrat);
  font-weight: 600;
  font-size: 36px;
  line-height: 43.2px;
  word-spacing: 1px;
  color: var(--clr-heading);
  margin: 20px 0;
}
.about-content span {
  color: var(--clr-def);
}
.about-content h5 {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  word-spacing: 1px;
  color: var(--clr-heading);
  text-transform: uppercase;
  margin: 30px 0;
}
.about-content p {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  word-spacing: 0.1px;
  color: var(--clr-body);
  margin: 20px 0;
}
.about-content a {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  word-spacing: 0.1px;
  color: var(--clr-black);
  padding: 15px 25px;
  border-radius: 30px;
  box-shadow: 0px 3px 20px 0px var(--clr-bg);
  transition: all ease-in-out 0.5s;
  margin: 20px 0;
  display: inline-block;
}
.about-content .dl:hover {
  background-color: var(--clr-def);
  color: var(--clr-white);
}
.about-content a:last-child {
  box-shadow: none;
}
/* About Section Ends */
/* Service Section Starts */
#service {
  background-color: var(--clr-bg);
  padding: 100px 0;
}
.service-title h5 {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  word-spacing: 1px;
  color: var(--clr-heading);
  position: relative;
  text-transform: uppercase;
  margin: 30px 0;
}
.service-title h5::after {
  content: "";
  position: absolute;
  width: 124px;
  height: 4px;
  background-color: var(--clr-white);
  bottom: 0;
  right: 41.6%;
  margin-bottom: -3px;
}
.service-title h2 {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  word-spacing: 0.1px;
  color: var(--clr-heading);
  margin: 20px 0;
  text-transform: capitalize;
}
.service-box {
  background-color: var(--clr-white);
  margin: 15px 0;
  border-radius: 10px;
  padding: 50px 0;
}
.service-icon i {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--clr-white);
  text-align: center;
  box-shadow: 0px 10px 20px 0px var(--clr-bg);
}
.service-icon i img {
  display: inline-block;
  padding: 20px 0;
}
.service-content h4 {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  word-spacing: 1px;
  color: var(--clr-heading);
  padding: 30px 0;
  text-transform: capitalize;
  position: relative;
}
.service-content h4::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: var(--clr-black);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.service-content ul {
  list-style-type: none;
  margin: 30px 0;
}
.service-content ul li {
  display: inline-block;
}
.service-content ul li a {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  word-spacing: 0.1px;
  color: var(--clr-body);
  padding-left: 15px;
}
.service-content p {
  font-family: var(--arimo);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  word-spacing: 0.1px;
  color: var(--clr-body);
}
/* Service Section Ends */
/* Video Section Starts */
#video-area {
  background-image: url(../img/video.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.my-service {
  margin: 100px 0;
}
.my-service h5 {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  word-spacing: 1px;
  color: var(--clr-def);
  position: relative;
  text-transform: uppercase;
  margin: 40px 0;
}
.my-service h5::after {
  content: "";
  position: absolute;
  width: 124px;
  height: 4px;
  background-color: var(--clr-white);
  bottom: 0;
  left: 0;
  margin-bottom: -3px;
}
.my-service h4 {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  word-spacing: 1px;
  color: var(--clr-white);
  padding: 30px 0;
}
.my-service p {
  font-family: var(--arimo);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  word-spacing: 0.1px;
  color: var(--clr-white);
}
.video-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 38%;
}
.video-box a {
  display: inline-block;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  color: var(--clr-white);
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  transition: all ease-in-out 0.5s;
}
.video-box a:hover {
  background-color: var(--clr-def);
  border-color: var(--clr-def);
}
.my-skill {
  margin: 100px 0;
}
.progress-box {
  margin: 20px 10px;
  position: relative;
}
.progress-box::before {
  content: "";
  position: absolute;
  background-color: var(--clr-white);
  width: 10px;
  height: 10px;
  left: -30px;
  bottom: 29px;
}
.progress-box h5 {
  display: inline-block;
  margin: 20px 0;
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  word-spacing: 1px;
  color: var(--clr-white);
}
.progress-box span {
  display: inline-block;
  position: relative;
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  word-spacing: 1px;
  color: var(--clr-white);
}
.progress-box .one {
  left: 68%;
}
.progress-box .two {
  left: 63%;
}
.progress-box .three {
  left: 46%;
}
.progress-bar {
  background-color: var(--clr-body);
  height: 5px;
  width: 100%;
}
.progress-bar1 {
  background-color: var(--clr-white);
  height: 5px;
  width: 80%;
}
.progress-bar2 {
  background-color: var(--clr-white);
  height: 5px;
  width: 90%;
}
/* Video Section Ends */
/* Counter-area Section Starts */
.counter-item {
  margin: 80px 0;
}
.counter-item-icon img {
  float: left;
  display: block;
  margin-right: 40px;
}
.counter-item-wrapper {
  margin-left: 10px;
}
.counter-item-wrapper span {
  display: inline-block;
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--clr-black);
  padding: 0 20px;
  text-transform: uppercase;
}
.counter-item-wrapper p {
  display: inline-block;
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  word-spacing: 0.1px;
  color: var(--clr-black);
  padding: 0 5px;
  position: relative;
  bottom: 20px;
}

/* Counter-area Section Ends */
/* Gallary Section Starts */
.gallary-title h5 {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  word-spacing: 1px;
  color: var(--clr-def);
  position: relative;
  text-transform: uppercase;
  margin: 30px 0;
}
.gallary-title h5::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  background-color: var(--clr-bg);
  bottom: 0;
  right: 47%;
  margin-bottom: -3px;
}
.gallary-title h2 {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  word-spacing: 0.1px;
  color: var(--clr-heading);
  margin: 50px 0;
  text-transform: capitalize;
}
.gallary-title ul {
  margin: 30px 0;
}
.gallary-title ul li {
  display: inline-block;
}
.gallary-title ul li:first-child a {
  color: var(--clr-def);
}
.gallary-title ul li a {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--clr-heading);
  padding-left: 15px;
  text-transform: uppercase;
}
.gallary-box {
  margin: 40px 30px;
}
.gallary-box-img img {
  width: 100%;
  display: block;
}
.gallary-box-overlay {
  position: relative;
  width: 250px;
  height: 93px;
  background-color: #fff;
  z-index: 1;
  text-align: center;
  bottom: 30%;
  margin-left: 20px;
  border-radius: 5px;
  transition: all ease-in-out 0.5s;
}
.gallary-box-overlay h5 {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  color: var(--clr-heading);
  text-transform: uppercase;
  padding: 10px 0;
}
.gallary-box-overlay span {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--clr-def);
  padding: 10px 0;
}
.gallary-box-overlay a {
  position: absolute;
  top: 30%;
  right: -20px;
}
.gallary-box-overlay a i {
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  background-color: var(--clr-white);
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px var(--clr-bg);
  color: var(--clr-def);
  text-align: center;
}
.gallary-btn a {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--clr-black);
  background-color: var(--clr-white);
  padding: 20px 40px;
  border-radius: 48px;
  box-shadow: 0px 3px 20px 0px var(--clr-bg);
  transition: all ease-in-out 0.5s;
}
.gallary-btn a:hover {
  background-color: var(--clr-def);
  color: var(--clr-white);
}
/* Gallary Section Ends */
/* Client Section Starts */
#client {
  background-color: var(--clr-bg);
  margin: 100px 0;
  padding-bottom: 100px;
}
.client-wrapper {
  padding-top: 70px;
}
.client-wrapper h5 {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  word-spacing: 1px;
  color: var(--clr-def);
  position: relative;
  text-transform: uppercase;
  margin: 30px 0;
}
.client-wrapper h5::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: var(--clr-white);
  bottom: 0;
  right: 47.5%;
  margin-bottom: -3px;
}
.client-wrapper h2 {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  word-spacing: 0.1px;
  color: var(--clr-heading);
  margin: 50px 0;
  text-transform: capitalize;
}
.client-slider-wrp p {
  font-family: var(--arimo);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  word-spacing: 0.1px;
  color: var(--clr-body);
}
.client-slider-wrp img {
  display: block;
  position: relative;
  left: 46%;
}
.client-slider-wrp h4 {
  font-family: var(--montserrat);
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  word-spacing: 1px;
  color: var(--clr-heading);
}
.client-slider-wrp span {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  word-spacing: 1px;
  color: var(--clr-body);
}
.client-btn {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid var(--clr-white);
  box-shadow: 0px 5px 20px 0px var(--clr-bg);
  transition: all ease-in-out 0.5s;
}
.client-btn.fa-chevron-left {
  left: calc(20% - 50px);
  top: 40%;
}
.client-btn.fa-chevron-right {
  right: calc(20% - 50px);
  top: 40%;
}
.client-btn:hover {
  background-color: var(--clr-def);
  color: var(--clr-white);
}
/* Client Section Ends */
/* Pricing table Section Starts */
#pricing-table {
  padding-top: 30px;
  padding-bottom: 100px;
}
.pricing-table-title h5 {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  word-spacing: 1px;
  color: var(--clr-heading);
  position: relative;
  text-transform: uppercase;
  margin: 30px 0;
}
.pricing-table-title h5::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 4px;
  background-color: var(--clr-bg);
  bottom: 0;
  right: 44%;
  margin-bottom: -3px;
}
.pricing-table-title h2 {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  word-spacing: 0.1px;
  color: var(--clr-heading);
  margin: 70px 0;
  text-transform: capitalize;
}
.price-box {
  background-color: var(--clr-white);
  border-radius: 10px;
  box-shadow: 0px 5px 20px 0px var(--clr-bg);
  margin: 20px 5px;
  position: relative;
}
.price-box::after {
  content: "";
  background-color: var(--clr-bg);
  position: absolute;
  top: 0;
  width: 100%;
  height: 150px;
  left: 0;
  border-radius: 20px 20px 350px 350px;
}
.price-box-icon i {
  background-color: var(--clr-white);
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px var(--clr-bg);
  width: 90px;
  height: 90px;
  line-height: 99px;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: -50px;
  right: 38%;
  z-index: 1;
}
.price-box-wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
}
.price-box-wrapper span {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 24px;
  line-height: 10px;
  color: var(--clr-heading);
  position: absolute;
  z-index: 1;
  display: block;
  margin-left: 40%;
}
.price-box-wrapper ul {
  margin: 70px 0;
}
.price-box-wrapper ul li {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: var(--clr-body);
  padding: 10px 0;
}
.price-box-wrapper ul li i {
  display: inline-block;
  margin: 0 10px;
}
.price-btn a {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--clr-black);
  background-color: var(--clr-white);
  padding: 20px 50px;
  border-radius: 48px;
  box-shadow: 0px 3px 20px 0px var(--clr-bg);
  transition: all ease-in-out 0.5s;
  text-transform: uppercase;
}
.price-btn a:hover {
  background-color: var(--clr-def);
  color: var(--clr-white);
}
.enterprice a {
  background-color: var(--clr-def);
  color: var(--clr-white);
}
/* Pricing table Section Ends */
/* Blog Section Starts */
#blog {
  background-color: var(--clr-bg);
  padding: 80px 0;
  position: relative;
}
.blog-title h5 {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  word-spacing: 1px;
  color: var(--clr-def);
  position: relative;
  text-transform: uppercase;
  margin: 30px 0;
}
.blog-title h5::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 4px;
  background-color: var(--clr-white);
  bottom: 0;
  right: 44%;
  margin-bottom: -3px;
}
.blog-title h2 {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  word-spacing: 0.1px;
  color: var(--clr-heading);
  margin: 70px 0;
  text-transform: capitalize;
}
.blog-box {
  border: 20px solid var(--clr-white);
  border-radius: 10px;
  background-color: var(--clr-white);
  margin-left: 30px;
}
.blog-img img {
  display: block;
  width: 100%;
}
.blog-img {
  position: relative;
}
.blog-overlay {
  position: absolute;
  width: 120px;
  height: 40px;
  background-color: var(--clr-white);
  border-radius: 5px;
  top: 20px;
  left: 20px;
  text-align: center;
  padding: 5px;
}
.blog-overlay span {
  font-family: var(--arimo);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  word-spacing: 0.1px;
  color: var(--clr-body);
}
.blog-wrapper h3 {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  word-spacing: 1px;
  color: var(--clr-heading);
  margin: 15px 10px;
}
.blog-wrapper p {
  font-family: var(--arimo);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  word-spacing: 0.1px;
  color: var(--clr-body);
  margin: 10px;
}
/* .owl-prev {
  cursor: pointer;
  position: absolute;
  left: 51%;
  bottom: 5%;
  z-index: 1; 
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: var(--clr-white);
  box-shadow: 0px 5px 20px 0px var(--clr-bg);
  transition: all ease-in-out 0.5s;
}
.owl-next {
  cursor: pointer;
  position: absolute;
  right: 51%;
  bottom: 5%;
  z-index: 1;
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: var(--clr-white);
  box-shadow: 0px 5px 20px 0px var(--clr-bg);
  transition: all ease-in-out 0.5s;
}

.owl-prev .owl-next:hover {
  background-color: var(--clr-def);
  color: var(--clr-white);
}  */
/* Blog Section Ends */
/* Contact Section Starts */
#contact {
  margin: 80px 0;
}
.contact-title h5 {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  word-spacing: 1px;
  color: var(--clr-def);
  position: relative;
  text-transform: uppercase;
  margin: 30px 0;
}
.contact-title h5::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 4px;
  background-color: var(--clr-bg);
  bottom: 0;
  right: 46%;
  margin-bottom: -3px;
}
.contact-title h2 {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  word-spacing: 0.1px;
  color: var(--clr-heading);
  margin: 70px 0;
  text-transform: capitalize;
}
.contact-icon i {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: var(--clr-white);
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px var(--clr-bg);
  margin: 10px 0;
}
.contact-info h3 {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  word-spacing: 1px;
  color: var(--clr-heading);
  margin: 10px 0px;
  text-transform: capitalize;
}
.contact-info span {
  font-family: var(--arimo);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  word-spacing: 0.1px;
  color: var(--clr-body);
  margin: 10px;
}
.contact-msge-btn a {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  word-spacing: 1px;
  color: var(--clr-black);
  text-transform: capitalize;
  padding: 20px 100px;
  background-color: var(--clr-white);
  border-radius: 40px;
  box-shadow: 0px 1px 0px 0px var(--clr-bg);
  display: inline-block;
  margin-top: 80px;
}
/* Contact Section Ends */
/* Form Section Starts */
.cnt-form {
  border: none;
  background-color: var(--clr-form);
  border-radius: 30px;
  padding: 20px 30px;
}
.submit-btn button {
  border: none;
  background-color: var(--clr-white);
}
.submit-btn a {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--clr-black);
  margin: 15px 0;
  display: inline-block;
  padding: 20px 40px;
  background-color: var(--clr-white);
  border-radius: 40px;
  box-shadow: 0px 5px 20px 0px var(--clr-bg);
  transition: all ease-in-out 0.5s;
}
.submit-btn a:hover {
  background-color: var(--clr-def);
  color: var(--clr-white);
}
/* Form Section Ends */
/* partner Section Starts */
#partner {
  padding: 80px 0;
}
.partner-item {
  margin-left: 40px;
}
/* partner Section Ends */
/* Footer Section Ends */
#footer {
  background-color: var(--clr-black);
  padding: 80px 0;
}
.copyright p {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  word-spacing: 0.1px;
  color: var(--clr-ftr);
}
.footer-menu ul li {
  display: inline-block;
  margin-left: 25px;
}
.footer-menu ul li a {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  word-spacing: 0.1px;
  color: var(--clr-ftr1);
  text-transform: uppercase;
}
.footer-social ul li {
  display: inline-block;
  margin-left: 5px;
}
.footer-social ul li a {
  display: inline-block;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  color: var(--clr-white);
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  transition: all ease-in-out 0.7s;
}
.footer-social ul li:hover a {
  background-color: var(--clr-def);
  border-color: var(--clr-def);
}
/* Footer Section Ends */
/* Back To Top Section Starts */
#backToTop {
  background: var(--clr-def);
  border: none;
  padding: 16px;
  color: var(--clr-white);
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  display: block;
  transition: linear 1s;
  -webkit-transition: linear 1s;
  -moz-transition: linear 1s;
  -ms-transition: linear 1s;
  -o-transition: linear 1s;
}
#backToTop:hover {
  background-color: var(--clr-black);
}
/* Back To Top Section Ends */
